body {
    font-family: 'Helvetica', 'Arial', sans-serif;
  }

.laatikko1 {
    position: absolute;
    padding: 20px;
    width: 200px;
    height: 500px;
    background-color: gray;
    text-align: left;
    
  }
  
  .laatikko2 {
    position: absolute;
    left: 260px;
    width: 200px;
    height: 100px;
    background-color: white;
    text-align: center;
  }
  
  .laatikko3 {
    position: absolute;
    left: 260px;
    top: 120px;
    width: 200px;
    height: 100px;
    background-color: white;
    text-align: center;
  }
  .laatikko4 {
    position: absolute;
    left: 260px;
    top: 240px;
    width: 200px;
    height: 300px;
    
    text-align: center;
  }

p {
    

}